
.footer {
  padding: var(--sp-2xl) 10%;
  background-color: white;
  border-top: 1px solid var(--co-border);
  color: var(--co-text-muted);
  text-align: center;
}

.copyright {
  font-size: 0.875rem;
}
