
.layoutContainer {
    display: flex;
    min-height: 100vh;
    background-color: var(--co-bg-main);
}

.mainContent {
    flex: 1;
    margin-left: 260px; /* Width of sidebar */
    display: flex;
    flex-direction: column;
}

.pageContent {
    flex: 1;
    padding: 0 var(--sp-xl) var(--sp-xl) var(--sp-xl);
}
